org.opentosca.util.fileaccess.service.impl/META-INF/res/xsds/DeploymentArtifactXLinkAnnotatedXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://docs.oasis-open.org/tosca/ns/2011/12"
	targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12"
	xmlns:annotated="http://docs.oasis-open.org/tosca/ns/2011/12"
	xmlns:tosca="http://docs.oasis-open.org/tosca/ns/2011/12" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:redefine
		schemaLocation="http://docs.oasis-open.org/tosca/TOSCA/v1.0/csd02/schemas/TOSCA-v1.0.xsd">

		<xs:complexType name="tDeploymentArtifact">
			<xs:complexContent>

				<xs:extension base="tDeploymentArtifact">
					<xs:sequence>
						<xs:element name="Reference" type="tReference" />
					</xs:sequence>
					
					<xs:attribute name="AbsolutePath" type="xs:anyURI" />
				</xs:extension>

			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>

	<xs:complexType name="tReference">

		<xs:attribute name="xlink" type="xs:anyURI" use="required" />
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="href" type="xs:anyURI" use="required" />
		<xs:attribute name="title" type="xs:string" use="required" />

	</xs:complexType>

</xs:schema>