org.opentosca.siengine.api.soaphttp/META-INF/wsdl/invoker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siserver.org/wsdl"
	xmlns:ns="http://siserver.org/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	name="SIServerImplService" targetNamespace="http://siserver.org/wsdl">

	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://siserver.org/schema"
				schemaLocation="invoker.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="invokeOperationMessage">
		<wsdl:part element="ns:invokeOperation" name="invokeOperation">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="invokeOperationAsyncMessage">
		<wsdl:part element="ns:invokeOperationAsync" name="invokeOperationAsync">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="invokeOperationSyncMessage">
		<wsdl:part element="ns:invokeOperationSync" name="invokeOperationSync">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="invokePlanMessage">
		<wsdl:part element="ns:invokePlan" name="invokePlan">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="invokeResponse">
		<wsdl:part element="ns:invokeResponse" name="invokeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="InvokePortType">
		<wsdl:operation name="invokeOperation">
			<wsdl:input message="tns:invokeOperationMessage">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="invokeOperationAsync">
			<wsdl:input message="tns:invokeOperationAsyncMessage">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="invokeOperationSync">
			<wsdl:input message="tns:invokeOperationSyncMessage">
			</wsdl:input>
			<wsdl:output message="tns:invokeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="invokePlan">
			<wsdl:input message="tns:invokePlanMessage">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="CallbackPortType">
		<wsdl:operation name="callback">
			<wsdl:input message="tns:invokeResponse">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InvokeBinding" type="tns:InvokePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="invokeOperation">
			<soap:operation soapAction="http://siserver.org/invokeOperation"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="invokeOperationAsync">
			<soap:operation soapAction="http://siserver.org/invokeOperationAsync"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="invokeOperationSync">
			<soap:operation soapAction="http://siserver.org/invokeOperationSync"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="invokePlan">
			<soap:operation soapAction="http://siserver.org/invokePlan"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CallbackBinding" type="tns:CallbackPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="callback">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InvokerService">
		<wsdl:port binding="tns:InvokeBinding" name="InvokePort">
			<soap:address location="http://localhost:8081/invoker" />
		</wsdl:port>
		<wsdl:port binding="tns:CallbackBinding" name="CallbackPort">
			<soap:address location="http://localhost:8088/callback" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>