org.opentosca.bpsconnector/META-INF/resources/BPELUploader.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://types.services.deployer.bpel.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.deployer.bpel.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.deployer.bpel.carbon.wso2.org">
    <wsdl:documentation>BPELUploader</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://types.services.deployer.bpel.carbon.wso2.org/xsd">
            <xs:complexType name="UploadedFileItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax210="http://types.services.deployer.bpel.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.deployer.bpel.carbon.wso2.org">
            <xs:import namespace="http://types.services.deployer.bpel.carbon.wso2.org/xsd" />
            <xs:element name="uploadService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileItems" nillable="true" type="ax29:UploadedFileItem" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadServiceRequest">
        <wsdl:part name="parameters" element="ns:uploadService" />
    </wsdl:message>
    <wsdl:message name="uploadServiceResponse" />
    <wsdl:portType name="BPELUploaderPortType">
        <wsdl:operation name="uploadService">
            <wsdl:input message="ns:uploadServiceRequest" wsaw:Action="urn:uploadService" />
            <wsdl:output message="ns:uploadServiceResponse" wsaw:Action="urn:uploadServiceResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BPELUploaderSoap11Binding" type="ns:BPELUploaderPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="uploadService">
            <soap:operation soapAction="urn:uploadService" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPELUploaderHttpBinding" type="ns:BPELUploaderPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="uploadService">
            <http:operation location="uploadService" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BPELUploader">
        <wsdl:port name="BPELUploaderHttpsSoap11Endpoint" binding="ns:BPELUploaderSoap11Binding">
            <soap:address location="https://192.168.178.21:9443/services/BPELUploader.BPELUploaderHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BPELUploaderHttpsEndpoint" binding="ns:BPELUploaderHttpBinding">
            <http:address location="https://192.168.178.21:9443/services/BPELUploader.BPELUploaderHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>