org.opentosca.planbuilder.prephase.plugin.linuxpackageda/META-INF/resources/openTOSCAReferencesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://opentosca.org/openTOSCAReferencesSchema"
	xmlns:tns="http://opentosca.org/openTOSCAReferencesSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="ServiceTemplates" type="tns:tReferences"/>
	<xs:element name="ServiceTemplate" type="tns:tServiceTemplate"/>
	<xs:element name="NodeTypes" type="tns:tReferences"/>
	<xs:element name="NodeType" type="tns:tNodeType"/>
	<xs:element name="DeploymentArtifacts" type="tns:tReferences"/>
	<xs:element name="DeploymentArtifact" type="tns:tDeploymentArtifact"/>
	<xs:element name="References" type="tns:tReferences"/>


	<xs:complexType name="tReference">
		<xs:attribute name="absPath" type="xs:string"/>
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="href" type="xs:anyURI" use="required" />
		<xs:attribute name="title" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="tReferences">
		<xs:sequence>
			<xs:element name="Reference" type="tns:tReference"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="tServiceTemplate">
		<xs:sequence>
			<xs:element name="Reference" type="tns:tReference"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="targetNamespace" type="xs:anyURI"/>
	</xs:complexType>
	
	<xs:complexType name="tNodeType">
		<xs:sequence>
			<xs:element name="Reference" type="tns:tReference" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="tDeploymentArtifact">
		<xs:sequence>
			<xs:element name="Reference" type="tns:tReference" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="AbsolutePath" type="xs:anyURI"/>
	</xs:complexType>
	
</schema>