org.opentosca.bus.management.service.impl/META-INF/xsd/collaboration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="http://collaboration.org/schema" attributeFormDefault="qualified"
    elementFormDefault="qualified" targetNamespace="http://collaboration.org/schema">
    <xs:complexType name="KeyValueType">
		<xs:sequence>
            <xs:element name="Key" type="xs:string" />
            <xs:element name="Value" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyValueMap">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="KeyValuePair" type="ns:KeyValueType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Doc">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="1" processContents="skip" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstanceDataMatchingRequest">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="NodeType" type="xs:QName" />
            <xs:element minOccurs="1" maxOccurs="1" name="Properties" type="ns:KeyValueMap" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IAInvocationRequest">
        <xs:choice>
            <xs:element minOccurs="1" maxOccurs="1" name="Params" type="ns:KeyValueMap" />
            <xs:element minOccurs="1" maxOccurs="1" name="Doc" type="ns:Doc" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BodyType">
        <xs:choice>
            <xs:element minOccurs="0" maxOccurs="1" name="InstanceDataMatchingRequest" type="ns:InstanceDataMatchingRequest" />
            <xs:element minOccurs="0" maxOccurs="1" name="IAInvocationRequest" type="ns:IAInvocationRequest" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollaborationMessage">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="HeaderMap" type="ns:KeyValueMap" />
            <xs:element minOccurs="0" maxOccurs="1" name="Body" type="ns:BodyType" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CollaborationMessage" type="ns:CollaborationMessage" />
</xs:schema> 