org.opentosca.planbuilder/org.opentosca.planbuilder.prephase.plugin.fileupload/src/main/resources/fileupload-plugin/EC2LinuxIAService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ec2linux.aws.ia.opentosca.org"
                  xmlns:impl="http://ec2linux.aws.ia.opentosca.org"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ec2linux.aws.ia.opentosca.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="installPackage">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="packageName" type="xsd:string"/>
      <element name="sshKey" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="installPackageResponse">
    <complexType>
     <sequence>
      <element name="installPackageReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="runScript">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="script" type="xsd:string"/>
      <element name="sshKey" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runScriptResponse">
    <complexType>
     <sequence>
      <element name="runScriptReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="transferLocalFile">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="fromAbsoluteLocalFileName" type="xsd:string"/>
      <element name="toLinuxAbsolutePath" type="xsd:string"/>
      <element name="sshKey" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="transferLocalFileResponse">
    <complexType>
     <sequence>
      <element name="transferLocalFileReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="transferLocalFolder">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="fromAbsoluteLocaPath" type="xsd:string"/>
      <element name="toLinuxAbsolutePath" type="xsd:string"/>
      <element name="sshKey" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="transferLocalFolderResponse">
    <complexType>
     <sequence>
      <element name="transferLocalFolderReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="transferRemoteFile">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="remoteFilePath" type="xsd:string"/>
      <element name="toLinuxAbsolutePath" type="xsd:string"/>
      <element name="sshKey" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="transferRemoteFileResponse">
    <complexType>
     <sequence>
      <element name="transferRemoteFileReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="transferRemoteFileResponse">

      <wsdl:part element="impl:transferRemoteFileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="runScriptResponse">

      <wsdl:part element="impl:runScriptResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="transferRemoteFileRequest">

      <wsdl:part element="impl:transferRemoteFile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="installPackageResponse">

      <wsdl:part element="impl:installPackageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="transferLocalFolderRequest">

      <wsdl:part element="impl:transferLocalFolder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="transferLocalFileResponse">

      <wsdl:part element="impl:transferLocalFileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="transferLocalFileRequest">

      <wsdl:part element="impl:transferLocalFile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="transferLocalFolderResponse">

      <wsdl:part element="impl:transferLocalFolderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="runScriptRequest">

      <wsdl:part element="impl:runScript" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="installPackageRequest">

      <wsdl:part element="impl:installPackage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EC2LinuxIAService">

      <wsdl:operation name="installPackage">

         <wsdl:input message="impl:installPackageRequest" name="installPackageRequest">

       </wsdl:input>

         <wsdl:output message="impl:installPackageResponse" name="installPackageResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runScript">

         <wsdl:input message="impl:runScriptRequest" name="runScriptRequest">

       </wsdl:input>

         <wsdl:output message="impl:runScriptResponse" name="runScriptResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferLocalFile">

         <wsdl:input message="impl:transferLocalFileRequest" name="transferLocalFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:transferLocalFileResponse" name="transferLocalFileResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferLocalFolder">

         <wsdl:input message="impl:transferLocalFolderRequest" name="transferLocalFolderRequest">

       </wsdl:input>

         <wsdl:output message="impl:transferLocalFolderResponse" name="transferLocalFolderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferRemoteFile">

         <wsdl:input message="impl:transferRemoteFileRequest" name="transferRemoteFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:transferRemoteFileResponse" name="transferRemoteFileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EC2LinuxIAServiceSoapBinding" type="impl:EC2LinuxIAService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="installPackage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="installPackageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="installPackageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runScript">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runScriptRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="runScriptResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferLocalFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="transferLocalFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="transferLocalFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferLocalFolder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="transferLocalFolderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="transferLocalFolderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferRemoteFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="transferRemoteFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="transferRemoteFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EC2LinuxIAServiceService">

      <wsdl:port binding="impl:EC2LinuxIAServiceSoapBinding" name="EC2LinuxIAService">

         <wsdlsoap:address location="http://localhost:8080/Moodlecsar/EC2-Linux-Service/services/EC2LinuxIAService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
